article {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 95px;
    
}

@media (max-width: 767px) {

    article {
        flex-wrap: wrap;
    }    
}