*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: $color-background;
    color: $color-text;
    font-size: $paragraph-font-size;
    line-height: $line-height;
    font-family: $font-text;
}