@mixin card-content {

    .card-title {
        margin: 0;
        font-family: $font-text;
        font-weight: 700;
        font-size: $title-font-size;
        color: $color-text;
    }

    .card-description {
        width: 380px;
        height: 96px;
        font-family: $font-text;
        font-weight: 300;
        font-size: $paragraph-font-size;
        line-height: $line-height;
        color: $color-text;
        margin: 24px 0 32px 0;
    }
}